body {
  margin: 0;
  background: #171717;
  color: #eeeeee;
  box-sizing: border-box;
}

/* --------------로딩화면------------------ */
.load {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ----------------------------------------- */

.navbar {
  /* background: #00224d; */
  /* background-color: #222831; */
  background: #eeeeee;
  padding: 20px;
  color: #171717;
  width: 100%;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: #171717;
}
/* ------------------footer----------------------- */
.footer {
  background: #eeeeee;
  color: #171717;
  font-weight: 550;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ----------------------------------------- */
