body {
  margin: 0;
  background: #171717;
  color: #eeeeee;
  box-sizing: border-box;
}

/* --------------로딩화면------------------ */
.load {
  display: flex;
  justify-content: center;
  align-items: center;
}
